.header {
    padding: 3rem;
    background: radial-gradient(circle, rgb(36, 35, 35) 0%, #19191a 100%);
    @apply flex items-center justify-items-start;
}

.header h1 {
    @apply text-4xl text-white;
}

.header p {
    padding-left: 1rem;
    @apply text-2xl text-white;
}

.rightContainer {
    @apply ml-auto;
    @apply flex;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .header {
        padding: 2rem;
    }

    .header h1 {
        @apply text-3xl;
    }

    .header p {
        @apply text-2xl;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .header {
        padding: 2rem;
        @apply flex items-center justify-items-start;
        flex-direction: column;
        align-items: center;
    }

    .header h1 {
        @apply text-4xl;
        white-space: nowrap;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .header p {
        @apply text-xl;
        white-space: nowrap;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .rightContainer {
        padding: 1.5rem;
        @apply ml-auto;
        @apply flex;
        justify-content: center;
        width: 100%; /* Adjust as needed */
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .header {
        padding: 4rem;
    }

    .header h1 {
        @apply text-5xl;
    }

    .header p {
        @apply text-4xl;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .header {
        padding: 5rem;
    }

    .header h1 {
        @apply text-6xl;
    }

    .header p {
        @apply text-5xl;
    }
}


