.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.cyberpunkTitle {
    font-size: 2rem;
    color: var(--primary-text-color);
    transition: color 0.2s ease, text-shadow 0.2s ease;
    position: relative;
}


.cyberpunkTitle:hover {
    color: #930EFF;
    text-shadow:
            0 0 4px #b388ff,
            0 0 8px #c084fc,
            0 0 14px #930EFF;
}



.rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Tablets */
@media (max-width: 1024px) {
    .cyberpunkTitle {
        font-size: 1.75rem;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cyberpunkTitle {
        font-size: 1.5rem;
    }

    .rightContainer {
        width: 100%;
        padding-top: 1rem;
        justify-content: center;
    }
}

/* 1080p screens */
@media (min-width: 1920px) {
    .cyberpunkTitle {
        font-size: 2.5rem;
    }

    .rightContainer {
        gap: 1.5rem;
    }
}

/* Ultra-wide screens */
@media (min-width: 2560px) {
    .cyberpunkTitle {
        font-size: 3rem;
    }

    .rightContainer {
        gap: 2rem;
    }
}
