.responsibilitiesText {
    @apply text-zinc-400;
}

.jobText {
    @apply text-3xl text-zinc-400;
}

.jobExperience {
    @apply p-4 bg-gray-700 rounded-lg mb-6;
    width: 100%;
}
.responsibilityItem {
    text-indent: -1em;
    padding-left: 1em;
}