.footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    position: relative;
}

.text {
    font-size: 0.95rem;
    color: var(--primary-text-color);
    opacity: 0.8;
    transition: color 0.3s ease;
}

.text:hover {
    color: #930EFF;
    text-shadow: 0 0 6px #c084fc; /* Lavanda clara como glow */
}

.socialMedia {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .socialMedia {
        padding-bottom: 0.5rem;
    }
}