.header {
    padding: 3rem;
    background: radial-gradient(circle, rgb(36, 35, 35) 0%, #19191a 100%);
    @apply flex items-center justify-items-start;
}

.header h1 {
    @apply text-4xl font-bold text-white;
}

.header p {
    padding-left: 1rem;
    @apply text-3xl text-zinc-400;
}

.rightContainer {
    @apply ml-auto;
    @apply flex;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .header {
        padding: 2rem;
    }

    .header h1 {
        @apply text-3xl;
    }

    .header p {
        @apply text-2xl;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .header {
        padding: 0.5rem;
    }

    .header h1 {
        @apply text-sm;
        white-space: nowrap;
    }

    .header p {
        @apply text-sm;
        white-space: nowrap;
    }

    .rightContainer {
    /* fontSize="small" */

    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .header {
        padding: 4rem;
    }

    .header h1 {
        @apply text-5xl;
    }

    .header p {
        @apply text-4xl;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .header {
        padding: 5rem;
    }

    .header h1 {
        @apply text-6xl;
    }

    .header p {
        @apply text-5xl;
    }
}


