
.profilePicture {
    border-radius: 50%; /* Make the picture circular */
    object-fit: cover; /* Make the picture cover the entire div */
    margin-top: 5rem; /* Add some space between the picture and the text */
    margin-bottom: 5rem;
    @apply w-1/2;
    @apply object-cover;
    transition: transform 0.3s ease-in-out;
}

.profilePicture:hover {
    transform: scale(1.2);
}

.profilePictureContainer {
    @apply w-1/2 flex items-center justify-center overflow-hidden rounded-full;
}

.profileContainer {
    @apply flex items-center justify-center space-x-0;
}

.profileText {
    @apply w-1/2;
    @apply text-2xl;
    padding-right: 2rem;
}