.projectsSection {
    width: 100%;
}

.projectsContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: center;
    opacity: 0;
    animation: fadeInProjects 0.5s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInProjects {
    to {
        opacity: 1;
    }
}

.projectsHeader {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

.projectsHeader:hover {
    color: #930EFF;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

.card {
    background-color: var(--card-background);
    padding: 1.5rem;
    border-radius: 12px;
    color: var(--primary-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #b388ff, 0 0 20px #930EFF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-align: center;
}

.card h5 {
    min-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image {
    aspect-ratio: 16/9;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .projectsContainer {
        padding: 2rem 1.5rem;
    }

    .projectsHeader {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 1rem;
    }

    .card h2 {
        font-size: 1.1rem;
    }

    .card h5 {
        font-size: 0.9rem;
    }
}

.links {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-top: auto;
    width: 100%;

}

.iconLink {
    color: var(--primary-text-color);
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.iconLink:hover {
    transform: scale(1.2);
    color: #930EFF;
}
