.grid {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem; /* Increase the gap between the cards */
}

.container {
    padding: 2.5rem;
}

.card {
    padding: 0.5rem;
    border: 1px solid rgba(72, 76, 78, 0.45); /* Light gray border */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.link {
    color: #484c4e; /* Unvisited link color */
    text-decoration: none;
}

.link:visited {
    color: #484c4e; /* Same color as unvisited link */
    text-decoration: none;
}

.card:hover {
    transform: scale(1.2);
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
}

.image {
    border-radius: 10px;
}

/* change size of h2 text under section*/
.text-size {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 0 0 3rem;
}

/*For retina displays*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .grid {
        padding: 7rem;
    }

    .title {
        margin: 1rem 0 0 7rem;
    }
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .grid {
        padding: 1rem;
    }

    .title {
        margin: 1rem 0 0 1rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .grid {
        padding: 0.5rem;
    }

    .title {
        margin: 1rem 0 0 1rem;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .grid {
        padding: 5rem;
    }

    .title {
        margin: 1rem 0 0 5rem;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {

    .grid {
        padding: 7rem;
    }

    .title {
        margin: 1rem 0 0 7rem;
    }

}