.experienceContainer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    animation: fadeInExperience 0.5s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInExperience {
    to {
        opacity: 1;
    }
}

.experienceHeader {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

.experienceHeader:hover {
    color: #930EFF;
}


/* For tablets and small desktops */
@media (max-width: 1024px) {
    .experienceContainer {
        padding: 3rem;
    }

    .experienceHeader {
        font-size: 1.125rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .experienceContainer {
        padding: 2rem;
    }

    .experienceHeader {
        font-size: 1rem;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .experienceContainer {
        padding: 7rem;
    }

    .experienceHeader {
        font-size: 1.5rem;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .experienceContainer {
        padding: 9rem;
    }

    .experienceHeader {
        font-size: 1.875rem;
    }
}