.experienceContainer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experienceHeader {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .experienceContainer {
        padding: 3rem;
    }

    .experienceHeader {
        font-size: 1.125rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .experienceContainer {
        padding: 2rem;
    }

    .experienceHeader {
        font-size: 1rem;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .experienceContainer {
        padding: 7rem;
    }

    .experienceHeader {
        font-size: 1.5rem;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .experienceContainer {
        padding: 9rem;
    }

    .experienceHeader {
        font-size: 1.875rem;
    }
}