.skillsContainer {
    @apply p-8 bg-gray-800 flex flex-col items-start;
    background: #242323FF;
    padding: 5rem;
}

.skillsHeader {
    @apply text-xl font-bold mb-4 text-white;
}

.skillsList {
    @apply list-disc list-inside text-zinc-400;
}

.skillsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.skillsGrid div {
    margin: 1rem;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .skillsContainer {
        padding: 3rem;
    }

    .skillsHeader {
        @apply text-lg;
    }

    .skillsList {
        @apply text-base;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .skillsContainer {
        padding: 1.2rem;
    }

    .skillsHeader {
        @apply text-base text-center;
    }

    .skillsList {
        @apply text-lg text-center mx-auto;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .skillsContainer {
        padding: 7rem;
    }

    .skillsHeader {
        @apply text-2xl;
    }

    .skillsList {
        @apply text-lg;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .skillsContainer {
        padding: 10rem;
    }

    .skillsHeader {
        @apply text-3xl;
    }

    .skillsList {
        @apply text-xl;
    }
}