
.profilePicture {
    width: 200px; /* Adjust this value to change the width */
    height: 200px; /* Adjust this value to change the height */
    border-radius: 50%; /* Make the picture circular */
    object-fit: cover; /* Make the picture cover the entire div */
    margin-top: 5rem; /* Add some space between the picture and the text */
    margin-bottom:5rem;
    transition: transform 0.3s ease-in-out;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.profileText {
    width: 50%;
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .profilePicture {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .profileText {
        font-size: 1.5rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .profileContainer {
        flex-direction: column; /* Stack child elements vertically */
    }

    .profilePicture {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .profileText {
        width: 83.333333%;
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 1.75rem;
        text-align: justify;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .profilePicture {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .profileText {
        font-size: 1.875rem;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .profilePicture {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .profileText {
        font-size: 2.25rem;
    }
}