
.profilePicture {
    border-radius: 50%; /* Make the picture circular */
    object-fit: cover; /* Make the picture cover the entire div */
    margin-top: 5rem; /* Add some space between the picture and the text */
    margin-bottom: 5rem;
    @apply w-1/2;
    @apply object-cover;
    transition: transform 0.3s ease-in-out;
}

.profilePicture:hover {
    transform: scale(1.2);
}

.profilePictureContainer {
    @apply w-1/2 flex items-center justify-center overflow-hidden rounded-full;
}

.profileContainer {
    @apply flex items-center justify-center space-x-0;
}

.profileText {
    @apply w-1/2;
    @apply text-2xl text-zinc-400;
    padding-right: 2rem;
}

.profileText strong {
    @apply text-white;
}

/* For tablets and small desktops */
@media (max-width: 1024px) {
    .profilePicture {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .profileText {
        @apply text-2xl;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .profileContainer {
        flex-direction: column; /* Stack child elements vertically */
    }

    .profilePicture {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .profileText {
        @apply w-5/6; /* Adjust this value to change the width */
        @apply text-xl;
        @apply mt-4;
        @apply mb-4;
        @apply pl-7;
        text-align: justify;
    }
}

/* For 1080p screens */
@media (min-width: 1920px) {
    .profilePicture {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .profileText {
        @apply text-3xl;
    }
}

/* For ultra-wide screens */
@media (min-width: 2560px) {
    .profilePicture {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .profileText {
        @apply text-4xl;
    }
}