.dividerWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b388ff, #930EFF);
    box-shadow:
            0 0 8px rgba(179, 136, 255, 0.2),   /* lavanda */
            0 0 16px rgba(147, 14, 255, 0.2);   /* morado eléctrico */
    opacity: 0.95;
    margin: 0;
    border: none;
}

.dividerEnd {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b388ff, #930EFF);
    border-radius: 2px;
    box-shadow:
            0 0 4px rgba(179, 136, 255, 0.15),
            0 0 8px rgba(147, 14, 255, 0.15);
    opacity: 0.4;
    margin: 3rem 0 2rem;
    transition: box-shadow 0.3s ease;
}

.dividerEnd:hover {
    box-shadow:
            0 0 10px #b388ff,
            0 0 20px #930EFF;
    opacity: 0.75;
}


.dividerOpt {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FF2EFF, #00CFFF);
    box-shadow: 0 0 8px rgba(147, 14, 255, 0.2), 0 0 16px rgba(0, 207, 255, 0.2);
    opacity: 0.95;
    margin: 0;
    border: none;
}

.dividerEndOpt {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FF2EFF, #00CFFF);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(255, 46, 255, 0.15), 0 0 8px rgba(0, 207, 255, 0.15);
    opacity: 0.4;
    margin: 3rem 0 2rem;
    transition: box-shadow 0.3s ease;
}

.dividerEndOpt:hover {
    box-shadow: 0 0 10px #FF2EFF, 0 0 20px #00CFFF;
    opacity: 0.75;
}